* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  border: 0.125rem solid black;
  margin: 2rem 30rem 0;
}
.typeSelect {
  font-size: 1.25rem;
  margin-top: 1rem;
  border: 0.3125rem outset black;
  cursor: pointer;
}
.main {
  display: flex;
  margin: 2rem 10%;
}
.all-pokemon {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.lds-dual-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: black transparent transparent transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.listPokemon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.listPokemon h1 {
  margin: 1rem 0;
}
.curpage {
  font-size: 24px;
}

.card-pokemon {
  width: 13rem;
  border: 1px solid black;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.card-pokemon:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-pokemon img {
  width: 10rem;
  height: 10rem;
}

.pokemon-types {
  display: flex;
  justify-content: start;
  font-size: 20px;
}

.pokemon-types div {
  margin: 0.5em 0.5em 0 0;
  border-radius: 0.3em;
  padding: 0.3em;
}

/*
  text-align: center;
  margin-top: 2rem;
  border: 1px solid black;
*/
.normal {
  background-color: #cecece;
}
.fighting {
  background-color: rgb(255, 165, 0);
}
.flying {
  background-color: #698df0;
}
.poison {
  background-color: #dd86ff;
}
.ground {
  background-color: rgb(136, 143, 136);
}
.rock {
  background-color: rgb(148, 81, 81);
}
.bug {
  background-color: #fdc674;
}
.ghost {
  background-color: rgb(169, 169, 169);
}
.steel {
  background-color: rgb(70, 130, 180);
}
.fire {
  background-color: #ff5e42;
}
.water {
  background-color: #0095ff;
}
.grass {
  background-color: #4eec49;
}
.electric {
  background-color: rgb(255, 239, 10);
}
.psychic {
  background-color: rgb(74, 74, 224);
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.ice {
  background-color: rgb(173, 216, 230);
}
.dragon {
  background-color: rgb(255, 69, 0);
}
.dark {
  background-color: rgb(0, 0, 0);
  color: white;
}
.unknown {
  background-color: rgb(0, 128, 128);
}
.shadow {
  background-color: rgb(105, 105, 105);
}

.curpage {
  font-size: 24px;
  margin-top: 2rem;
}

.button-section {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.button-section button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.btn-next[disabled],
.btn-previous[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
.button-section button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.page div {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.page div:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.infoPokemon {
  position: fixed;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 25em;
  border: 0.15em solid black;
  padding: 1.8em;
  margin-top: 6.25em;
  cursor: pointer;
}
.details img {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: contain;
}
.details h2 {
  margin: 0.5em 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 0.05em solid black;
  padding: 0.5em;
  text-align: center;
}

@media (max-width: 1400px) {
  .button-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .button-section button {
    width: 16rem;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 1.5rem;
    border: 0.125rem solid black;
    margin: 2rem 15rem 0;
  }
  .infoPokemon {
    top: 40%;
  }
  .details {
    width: 20em;
    top: 10%;
    right: 13%;
    margin-top: 6.25em;
  }
  .details img {
    width: 8em;
    height: 8em;
  }
  .details h2 {
    margin: 0.5em 0;
    font-size: 1.5em;
  }
  th,
  td {
    font-size: 0.9em;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 2rem;
    margin: 1rem 2rem 0;
  }
  .main {
    margin: 2rem 0;
  }
  .listPokemon {
    gap: 1rem;
  }
  .card-pokemon {
    width: 9rem;
    padding: 1rem;
  }
  .card-pokemon img {
    width: 5rem;
    height: 5rem;
  }
  .card-pokemon h2 {
    font-size: 20px;
  }
  .pokemon-types div {
    margin-right: 0.5rem;
  }
  .pokemon-types {
    font-size: 15px;
  }
  .button-section button {
    font-size: 1.5rem;
    padding: 0.3125rem;
  }
  .page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .infoPokemon h1 {
    font-size: 24px;
  }
  .details {
    width: 13rem;
    top: 15%;
    right: 15%;
    margin-top: 6.25rem;
    padding: 1rem;
  }
  .details img {
    width: 6rem;
    height: 6rem;
  }
  .details h2 {
    margin: 0.5em 0;
    font-size: 1em;
  }
  th,
  td {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  .card-pokemon {
    width: 7rem;
    padding: 0.5rem;
  }
  .pokemon-types {
    font-size: 13px;
  }
  .button-section {
    margin-top: 1rem;
    display: flex;
    width: 100%;
  }
  .page {
    margin: 1rem 0;
  }
  .page div {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 1rem;
  }
  .button-section button {
    font-size: 1rem;
    padding: 0.3125rem;
    width: 10rem;
  }
  .infoPokemon {
    top: 35%;
  }
  .details {
    width: 10rem;
  }
  .infoPokemon h1 {
    font-size: 16px;
  }
}
